

.header-intro {
  min-height: 103px;
  height: 100%;
  background-color: black;
}

.school-introduction {
  position: relative;
  overflow: hidden;
}

.school-img-introduction {
  height: 90vh;
  /* Full viewport height */
  object-fit: cover;
  /* Cover entire container */
}

.overlay-introduction {
  position: absolute;
  inset: 0px;
  background-color: rgb(0 0 0 / 0.8);
}

.intro-content {
  position: absolute;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* gap: 24rem; */
  padding-left: 1.25rem;
}

.intro-content-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-inline: 20px;

  /* overflow: hidden; */
}

/* .intro-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 max-width: 1240px;
 margin-inline: auto;
  padding-block: 50px;
  gap: 2rem;
  overflow: hidden;
} */





.intro-yellow-line {
  background-color: #e3a72f;
  height: 0.5rem;
  width: 6rem;
}

.intro-title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.intro-title span {
  color: #e3a72f;
}

.intro-description {
  /* max-width: 512px; */
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  max-width: 920px;
}



@media only screen and (max-width: 600px) {
 .intro-title{
  font-size: 2.5rem;
 }

 .intro-description{
  font-size: 1rem;
  line-height: 1.3rem;
 }
}