.top-marquee {
    background-color: black;
    color: aliceblue;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }

  .top-marquee .top-link{
    color: aliceblue;
  }
  
  .top-marquee span {
    gap: 20px;
    display: inline-block;
    padding-right: 20px; /* Adjust spacing between spans */
  }
  
  /* Adjust the speed of the marquee */
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .top-marquee span {
    animation: marquee 10s linear infinite; /* Adjust the time for complete scroll */
  }
  
  