

.whatsapp-button {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 8px;
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 1000; /* Ensure it's above other elements */
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
    border: 2px solid green;
    padding-block: 10px;
    padding-inline: 15px;
  }
  
  /* .whatsapp-button img {
    width: 100px; 
    height: auto;
  } */

  .whatsapp-button p{
    /* font-size: 1rem; */
    /* background-color: aliceblue; */
    color: black;
    /* padding: 5px; */
  }
  
  .whatsapp-icon{
    color: green;
    width: 25px;
    height: auto;
  }

  @media only screen and (max-width: 600px) {
    .whatsapp-button {
     padding-block: 5px;
     padding-inline: 7px;
    }
    /* .whatsapp-button p{
      display: none;
    } */
    .whatsapp-icon{
      width: 20px;
      height: auto;
    }

}